@mixin round-btn {
    .round-btn {
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid grey;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 100;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &.disabled {
          cursor: not-allowed;
          color: grey;
          border: 1px solid lightgrey;
          &:hover {
            background-color: transparent;
            border: 1px solid lightgrey;
          }
        }
        &.unchecked {
          color: grey;
          border: 1px solid lightgrey;
        }
        &:hover {
          border: 1px solid black;
          background-color: rgba(0, 0, 0, .02);
        }
    }
}